nav {
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: #4056A1;
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
}

.app-name {
  font-family: 'Bungee', cursive;
  font-size: 1.5rem;
  display: flex;
  text-align: end;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}

div.new-tweet {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: end;
  align-items: center;
}

span.write-new-tweet {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  nav {
    height: 150px;
  }

  .app-name {
    font-size: 2rem;
  }
}
